@main("О нас") {
<!-- About Us -->


<div class="fullwidthbanner-container">
    <div class="fullwidthabnner">
        <ul>
            <!-- THE FIRST SLIDE -->
            <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" data-thumb="assets/img/sliders/revolution/thumbs/thumb3.jpg">

                <!-- THE MAIN IMAGE IN THE SECOND SLIDE -->
                <img src="@routes.Assets.at("img/headers/about-us.jpg")" alt="" />

                <div class="caption very_big_white_on_red lfl stl" data-x="-100" data-y="450" data-speed="300" data-start="500" data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine">
                    О НАС
                </div>

            </li>

        </ul>
    </div>
</div>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">О нас</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">О нас</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->


<div class="container">

<!--<div class="headline"><h3>О нас</h3></div>-->




<div class="row-fluid margin-bottom-30">
    <div class="span9">
        <p>
            Любой руководитель предприятия, собственник или акционер заинтересован в том, чтобы бизнес развивался и чтобы его рост был устойчивым и управляемым.

            Деятельность бизнес консалтинга направлена на то, чтобы помочь клиентам добиться желаемых результатов в развитии их бизнеса, открытии новых направлений, запуск новых проектов.

            Основными направлениями в области бизнес консалтинга являются стратегическое планирование, бизнес-планирование, корпоративное финансирование, работы в сфере маркетинга, постановка управленческого учета и бюджетирования, юридический консалтинг.

            Размер и норма прибыли организации напрямую зависят от правильного согласования внутренних бизнес-процессов. Формализация бизнес-процессов на основе их адекватного описания и анализа – насущная задача для любой организации, которая стремиться сделать свой бизнес максимально контролируемым и управляемым. Анализ бизнес-процессов является также необходимым этапом подготовки предприятия к внедрению автоматизированных систем управления.

            Целями бизнес консалтинга могут быть:
        </p>
        <ul class="unstyled">
            <li><i class="icon-ok color-red"></i> Повышение эффективности управления предприятием;</li>
            <li><i class="icon-ok color-red"></i>  Обоснование инвестиционного решения;</li>
            <li><i class="icon-ok color-red"></i> Разработка плана развития (бизнес-план);</li>
            <li><i class="icon-ok color-red"></i> Реструктуризация предприятия (ликвидация, cлияние, поглощение, выделение и т.д.);</li>
            <li><i class="icon-ok color-red"></i> Обжалование судебного решения об изъятии собственности;</li>
        </ul><br />

        <!-- Blockquotes -->
        <blockquote>
            <p> Постарайтесь получить то, что хотите, или же вы будете вынуждены захотеть то, что получили </p>
            <small> Бернард Шоу</small>
        </blockquote>
    </div>
    <div class="span3">
        <iframe src="http://player.vimeo.com/video/9679622" width="100%" height="327" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
</div><!--/row-fluid-->
<!--//End About Us -->
</div>

@faq()
}