

@partnership_temlate("Консультанты") {     <!-- Purchase Block -->
    <div class="row-fluid">
        <div class="purchase margin-bottom-30">
        <div class="container">

            <blockquote>
                <h2 class="color-red">Сотрудничество с нами — гарантия успеха.</h2>
                <p> Наша фирма — это безукоризненная репутация, опыт и гарантия результата. Наша деятельность получила высокую оценку многих ведущих компаний России.</p>
            </blockquote>
        </div>
    </div><!--/row-fluid-->
    <!-- End Purchase Block -->

    <!-- Service Blocks -->
       <div class="servive-block">
        <div class="span4">
            <h4>Кандидат в члены клуба</h4>
            <p><i class="icon-star"></i></p>
            <p>
                Кандидатом в члены клуба является человек, воспользовавшийся услугами клуба (в том числе участвовавший в мероприятиях клуба или обратившийся за присвоением рейтинга клуба).
                Либо человек, который получит рекомендации к вступлению в клуб не менее чем от двух участников клуба.
                Для воспользовавшихся  услугами клуба, автоматически открывается членство в клубе. Так как с каждой услуги идет отчисление, автоматически засчитывающееся за первый годовой взнос.

        </div>
        <div class="span4">
            <h4>Действуйющий член клуба</h4>
            <p><i class="icon-star"></i><i class="icon-star"></i></p>
            <p> Действуйющий член клуба - кандидат со стажем не менее 10 лет, оплативший членские взносы за указанный период и проведший не менее 3-х результативных операций в клубе (принесших казне клуба не менее 10 000у.е.)
                - либо кандидат, добившийся присвоения своей организации одного из высших рейтингов и проведший не менее 3-х результативных операций в клубе (принесших казне клуба не менее 10 000у.у.)
                - либо кандидат, проведший не менее 10-и результативных операций в клубе (принесших казне клуба не менее 30000у.е.)
                - либо активный участник клуба, со стажем (или оплаченным вперед взносом) не менее 2-х лет, взявший на себя одну или несколько административных функций клуба (организация мероприятий) исполнявший ее не менее года (во время исполнения обязанностей, также распространяется статус «действительный член клуба»)
                - либо активный участник клуба, статус которому присвоен особым решением совета старейшин (почетный статус за представительство)</p>    </div>
        <div class="span4">
            <h4>Ветеран клуба</h4>
            <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
            <p> Ветераном клуба является член клуба:
                - отчисления от деятельности которого в казну клуба превысили 100000 у.е.
                - либо активный участник клуба, статус которому присвоен особым решением совета старейшин (за особо значимые услуги).</p>
        </div>
    </div><!--/row-fluid-->

}
