@main("О нас") {

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="span9">
            <!--<div class="headline"><h3>Обратная связь</h3></div>-->
            <!--<p> Можете задать любой интересующий вас вопросы </p><br />-->
            <!--<form />-->
            <!--<label>Имя</label>-->
            <!--<input type="text" class="span7 border-radius-none" />-->
            <!--<label>Email <span class="color-red">*</span></label>-->
            <!--<input type="text" class="span7 border-radius-none" />-->
            <!--<label>Сообщение</label>-->
            <!--<textarea rows="8" class="span10"></textarea>-->
            <!--<p><button type="submit" class="btn-u">Отправить</button></p>-->
            <!--</form>-->

            <div class="blog-img"><img src="assets/img/work/climb.jpg" alt=""></div>
        </div><!--/span9-->

        <div class="span3">
            <!-- Contacts -->
            <div class="headline"><h3>Контакты</h3></div>
            <ul class="unstyled who margin-bottom-20">
                <li><a href="#"><i class="icon-home"></i>5B Streat, City 50987 New Town US</a></li>
                <li><a href="#"><i class="icon-envelope-alt"></i>info@@example.com</a></li>
                <li><a href="#"><i class="icon-phone-sign"></i>1(222) 5x86 x97x</a></li>
                <li><a href="#"><i class="icon-globe"></i>http://www.example.com</a></li>
            </ul>

            <div class="headline"><h3>Мы в сети</h3></div>
            <ul class="social-icons">
                <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                </ul>
            </div>


        </div><!--/span3-->
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

}