@(message: String)

@main("Welcome to Play") {

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
        </div>
        <div class="da-slide">
            <h2><i>Знание обязывает к действию,</i> <br/> <i> лишь действие порождает истинное знание.</i></h2>
            <!--<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>-->
            <!--<div class="da-img span6">-->
                <!--<div class="span6">-->
                    <!--<iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
             <div class="da-img"><img src="assets/plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">

        <blockquote>
            <h2 class="color-red">Сотрудничество с нами — гарантия успеха.</h2>
            <p> Наша фирма — это безукоризненная репутация, опыт и гарантия результата. Наша деятельность получила высокую оценку многих ведущих компаний России.</p>
        </blockquote>
     </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
<!-- Service Blocks -->
<div class="row-fluid servive-block">
    <div class="span4">
        <h4>Нацеленность результат</h4>
        <p><i class="icon-bell"></i></p>
        <p> Мы помогаем нашим клиентам получить более высокую прибыль скорее, чем они могли бы самостоятельно. Наша работа — определить, как Вы, наш клиент, собираетесь зарабатывать больше денег путем указания конкретных шагов, которые приведут Вас к желаемому результату. Наша проектная работа преследует только одну цель: повысить прибыльность наших клиентов.</p>
    </div>
    <div class="span4">
        <h4>Напряженная работа</h4>
        <p><i class="icon-bullhorn"></i></p>
        <p>       Результат не может быть создан без отдачи себя полностью тому, что вы делаете.
            Мы считаем, что успех состоит из 90% усердной работы и 10% вдохновения. Мы стараемся работать как можно больше, поэтому у Вас будет время сосредоточиться на решении множества других задач, постоянно требующих Вашего внимания, а мы будем отдавать 120% наших усилий для решения поставленных Вами задач.</p>    </div>
    <div class="span4">
        <h4>Честность</h4>
        <p><i class="icon-cut"></i></p>
        <p> Мы считаем, что долгосрочные отношения с нашими клиентами могут быть только на основе честного и открытого общения, откровенного обсуждения проблем и предлагаемых возможностей их решения.
            Это не всегда легко. Это не всегда легко, возможно, наши предложения не выглядят лучшим решением в краткосрочной перспективе, однако мы верим, что, будучи открытыми с нашими клиентами, мы даем им дополнительные гарантии, что интересы клиента для нас важнее всего (даже важнее наших собственных интересов).</p>
     </div>
</div><!--/row-fluid-->
<!-- //End Service Blokcs -->

<!-- Our Clients -->
<div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h3>Наши клиенты</h3></div>
    <ul class="slides">
        <li>
            <a href="#">
                <img src="assets/img/clients/hp_grey.png" alt="" />
                <img src="assets/img/clients/hp.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/igneus_grey.png" alt="" />
                <img src="assets/img/clients/igneus.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/vadafone_grey.png" alt="" />
                <img src="assets/img/clients/vadafone.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/walmart_grey.png" alt="" />
                <img src="assets/img/clients/walmart.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/shell_grey.png" alt="" />
                <img src="assets/img/clients/shell.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/natural_grey.png" alt="" />
                <img src="assets/img/clients/natural.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/aztec_grey.png" alt="" />
                <img src="assets/img/clients/aztec.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/gamescast_grey.png" alt="" />
                <img src="assets/img/clients/gamescast.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/cisco_grey.png" alt="" />
                <img src="assets/img/clients/cisco.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/everyday_grey.png" alt="" />
                <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/cocacola_grey.png" alt="" />
                <img src="assets/img/clients/cocacola.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/spinworkx_grey.png" alt="" />
                <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/shell_grey.png" alt="" />
                <img src="assets/img/clients/shell.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/natural_grey.png" alt="" />
                <img src="assets/img/clients/natural.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/gamescast_grey.png" alt="" />
                <img src="assets/img/clients/gamescast.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/everyday_grey.png" alt="" />
                <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/clients/spinworkx_grey.png" alt="" />
                <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
            </a>
        </li>
    </ul>
</div><!--/flexslider-->
<!-- //End Our Clients -->
</div><!--/container-->
<!-- End Content Part -->


}
