@partnership_temlate("") {    <!-- Purchase Block -->
<div class="row-fluid">
<div class="purchase margin-bottom-30">
<div class="container">

    <blockquote>
        <h2 class="color-red">Сотрудничество с нами — гарантия успеха.</h2>
        <p> Наша фирма — это безукоризненная репутация, опыт и гарантия результата. Наша деятельность получила высокую оценку многих ведущих компаний России.</p>
    </blockquote>
</div>
</div><!--/row-fluid-->



<div class="headline"><h3>Партнёрские программы</h3></div>


<div class="row-fluid servive-block"><!-- remove class "service-alternative" to hide green onmouseover effect-->
    <div class="span3">
        <div class="service clearfix">
            <div class="circle">
                <i class="icon-resize-small"></i>
            </div>
            <div class="desc">
                <a href="@routes.Application.services()" class="dropdown-toggle" data-toggle="dropdown">
                    <h4>ИНВЕСТОРАМ</h4>
                </a>
                <p>  Мы хотели бы услышать о вашем бизнесе и поделиться с вами, как мы можем помочь лучшую позицию вашей компании на рынке. Мы рады приветствовать Вас, чтобы начать разговор с нами.</p>
                <p><a class="btn-u btn-u-red" href="@routes.Application.services()" >подробнее</a></p>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="service clearfix">
            <div class="circle">
                <i class="icon-cogs"></i>
            </div>
            <div class="desc">
                <h4>АГЕНТАМ</h4>
                <p>  Мы хотели бы услышать о вашем бизнесе и поделиться с вами, как мы можем помочь лучшую позицию вашей компании на рынке. Мы рады приветствовать Вас, чтобы начать разговор с нами.</p>
                <p><a class="btn-u btn-u-red" href="@routes.Application.services()" >подробнее</a></p>

            </div>
        </div>
    </div>
    <div class="span3">
        <div class="service clearfix">
            <div class="circle">
                <i class="icon-plane"></i>
            </div>
            <div class="desc">
                <h4>КЛИЕНТАМ</h4>
                <p>  Мы хотели бы услышать о вашем бизнесе и поделиться с вами, как мы можем помочь лучшую позицию вашей компании на рынке. Мы рады приветствовать Вас, чтобы начать разговор с нами.</p>
                <p><a class="btn-u btn-u-red" href="@routes.Application.services()" >подробнее</a></p>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="service clearfix">
            <div class="circle">
                <i class="icon-plane"></i>
            </div>
            <div class="desc">
                <h4>ИСПОЛНИТЕЛЯМ</h4>
                <p>Давайте поговорим о вашем бизнесе
                    Мы хотели бы услышать о вашем бизнесе и поделиться с вами, как мы можем помочь лучшую позицию вашей компании на рынке. Мы рады приветствовать Вас, чтобы начать разговор с нами.</p>
                <p><a class="btn-u btn-u-red" href="@routes.Application.services()" >подробнее</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End Purchase Block -->

}

