
@service_template("") {

<div class="row-fluid">
    <!-- Our Services -->
    <div class="row-fluid">
        <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p><br />-->

        <div class="row-fluid servive-block">
            <div class="span4">

                <h4>Cтратегический
                    и инвестиционный консалтинг</h4>
                <p><i class="icon-bell"></i></p>
                <!--<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>-->
            </div>
            <div class="span4">
                <h4>Правовое
                    сопровождение</h4>
                <p><i class="icon-bullhorn"></i></p>
                <!--<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>-->
            </div>
            <div class="span4">
                <h4>Проектное
                    сопровождение</h4>
                <p><i class="icon-lightbulb"></i></p>
                <!--<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>-->
            </div>
        </div><!--/row-fluid-->

        <div class="row-fluid servive-block">
            <div class="span4">
                <h4>Налоговый
                    консалтинг и аудит</h4>
                <p><i class="icon-thumbs-up"></i></p>
                <!--<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>-->
            </div>
            <div class="span4">
                <h4>Управленческий
                    консалтинг</h4>
                <p><i class=" icon-refresh"></i></p>
                <!--<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>-->
            </div>
            <div class="span4">
                <h4>Donec idslacs elit nomi</h4>
                <p><i class="icon-volume-up"></i></p>
                <!--<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>-->
            </div>
        </div><!--/row-fluid-->
    </div><!--/row-fluid-->
    <!--//End Our Services -->
</div><!--/row-fluid-->



}